table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid gray;
  padding: 0.5em;
}

.shiftItem-capacity {
  border: 1px dashed black;
  min-width: 1em;
  min-height: 1em;
}

.employee {
  font-size: 0.8em;
  padding: 0.2em;
  border: 1px solid lightgray;
  border-radius: 0.5em;
  background-color: lightgray;
}
